<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="/place_finder/web/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/place_finder/web/bundles/zahler/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/place_finder/web/bundles/zahler/css/example.css" />
        <link rel="stylesheet" type="text/css" href="/place_finder/web/extjs-4.1.1/resources/css/ext-all.css" />

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMFDsDhRI9vJsNlSP56eYx3qluDRQ3Llo"></script>
        <script type="text/javascript" src="/place_finder/web/extjs-4.1.1/ext-all.js"></script>
        <script type="text/javascript" src="/place_finder/web/ux/GMapPanel.js"></script>
        <script type="text/javascript">
            var resourcesPath = '/place_finder/web/bundles/placefinder/';
            var prefijoUrl = '/place_finder/web/app.php/';
        </script>
        <script type="text/javascript" src="/place_finder/web/bundles/placefinder/js/index.js"></script>
    </head>
    <body></body>
</html>
